@import "../../../styles/utils/index";
@import "../../../styles/components/main";
@import "../../../styles/components/categories";

@include p(categories) {
  background-color: white;

  @include n(no-data) {
    @include e(image) {
      @include size(px2rpx(300px), px2rpx(320px));
      @include block--center;

      margin-top: px2rpx(120px);
      background: {
        image: image-url("pages/category/no-data.png");
        size: 100% 100%;
      }
    }

    @include e(tip) {
      text-align: center;
      margin-top: px2rpx(20px);
    }
  }

  @include n(categories) {
    padding-top: px2rpx(24px);
  }
}
