@import "../../styles/utils/index";

@include b(c-tab-bar) {
  @include footer--sticky;

  display: flex;
  border-top: 1px solid #ebebeb;
  background-color: white;

  @include e(item) {
    flex: 1;
    box-sizing: border-box;
    height: px2rpx(98px);
    text-align: center;
    color: #757575;
    font-size: map-get($font-sizes, s4);
    padding-top: px2rpx(10px + 46px + 3px);

    @each $icon in home, category, cart, my {
      @include m(#{$icon}) {
        background: {
          image: image-url("components/tab-bar/#{$icon}.png");
          size: px2rpx(46px) px2rpx(46px);
          position: center px2rpx(10px);
          repeat: no-repeat;
        }

        &.is-active {
          background-image: image-url("components/tab-bar/#{$icon}-active.png");
          color: #1c1c20;
        }
      }
    }
  }
}
