@import "../../styles/utils/functions";
@import "../../styles/utils/mixins";

$swiper-weight: 350;

// home searchbar
@include b(home-searchbar) {
}

// home swiper
@include b(home-swiper) {
  height: rpx($swiper-weight);

  image {
    width: 100%;
    height: rpx($swiper-weight);
  }
}

// home commodity categories
@include b(home-commodity-categories) {
  @include b(weui-flex) {
    padding-top: rpx(20);
    padding-bottom: rpx(20);

    @include e(item) {
      text-align: center;
    }
  }

  image {
    @include img--block(rpx(120), rpx(120));
    @include block--center;
    border-radius: 4px;
    margin-bottom: rpx(20);
  }
}

// home shops
@include b(home-shops) {
  image {
    border-radius: 4px;
  }
}
