@import "../utils/index";

@include b(c-icon) {
  background-size: 100% 100%;

  @include m(message, setup) {
    @include size(px2rpx(58px), px2rpx(58px));
  }

  @include m(message) {
    background-image: image-url("components/icon/message.png");
  }

  @include m(setup) {
    background-image: image-url("components/icon/setup.png");
  }

  @include m(mp-login) {
    @include size(px2rpx(350px), px2rpx(350px));

    background-image: image-url("components/icon/mp-login.png");
  }

  @include m(back) {
    @include size(px2rpx(60px), px2rpx(60px));

    background-image: image-url("components/icon/back.png");
  }

  @include m(hot) {
    @include size(px2rpx(112px), px2rpx(84px));

    background-image: image-url("components/icon/hot.png");
  }

  @include m(scan) {
    @include size(px2rpx(68px), px2rpx(68px));

    background-image: image-url("components/icon/scan.png")
  }

  @include m(close) {
    @include size(px2rpx(68px), px2rpx(68px));

    background-image: image-url("components/icon/close.png");
  }

  @include m(close-secondary) {
    @include size(px2rpx(58px), px2rpx(58px));

    background-image: image-url("components/icon/close-secondary.png");
  }

  @include m(close-third) {
    @include size(px2rpx(56px), px2rpx(56px));

    background-image: image-url("components/icon/close-third.png");
  }
}
