@import "../../styles/utils/index";

@include b(c-main) {
  @include position--absolute(0, 0, 0, 0);

  overflow-x: hidden;
  overflow-y: auto;

  @include m(has-nav-bar) {
    top: 0;
    // top: 20px + 10px + 32px + 10px;
  }

  @include m(has-tool-bar) {
    bottom: px2rpx(146px);
  }

  @include m(has-shop-tab-bar) {
    bottom: px2rpx(100px);
  }

  @include m(has-settlement-bar) {
    bottom: px2rpx(150px);
  }
}
