@import "../../styles/utils/index";

@include b(c-main) {
  @include position--absolute(0, 0, 0, 0);

  overflow-x: hidden;
  overflow-y: auto;

  @include m(has-nav-bar) {
    top: 20px + 10px + 32px + 10px;
  }

  @include m(has-tab-bar) {
    bottom: px2rpx(98px);
  }
}
