@import "../utils/index";

@include b(c-tabs) {
  @include m(primary) {
    @include size(100%, px2rpx(88px));

    border-bottom: 1px solid #f2f2f2;
    display: flex;

    @include b(c-tabs) {
      @include e(item) {
        flex: 1;
        text-align: center;
      }

      @include e(item-wrap) {
        @include text--middle(px2rpx(88px));

        box-sizing: border-box;
        display: inline-block;

        @include m(is-active) {
          color: map-get($colors, c1);
          border-bottom: px2rpx(4px) solid map-get($colors, c1);
        }
      }
    }
  }

  @include m(secondary) {
    @include size(100%, px2rpx(90px));

    border-bottom: 1px solid #f8f8f8;
    display: flex;
    background-color: white;

    @include b(c-tabs) {
      @include e(item) {
        flex: 1;
        text-align: center;
      }

      @include e(item-wrap) {
        @include text--middle(px2rpx(90px));

        box-sizing: border-box;
        display: inline-block;

        @include m(is-active) {
          color: map-get($colors, c1);
          border-bottom: px2rpx(4px) solid map-get($colors, c1);
        }
      }
    }
  }
}
