@import "../utils/index";

@include b(c-tabs) {
  @include size(100%, px2rpx(88px));

  border-bottom: 1px solid #f2f2f2;
  display: flex;

  @include e(item) {
    flex: 1;
    text-align: center;
  }

  @include e(item-wrap) {
    @include text--middle(px2rpx(88px));

    box-sizing: border-box;
    display: inline-block;

    @include m(active) {
      color: map-get($colors, c1);
      border-bottom: px2rpx(4px) solid map-get($colors, c1);
    }
  }
}
