@import "../utils/index";

@include b(c-tag) {
  @include m(address) {
    background: {
      image: image-url("components/tag/address.png");
      size: px2rpx(12px) px2rpx(16px);
      position: 0 center;
      repeat: no-repeat;
    }
    line-height: 100%;
    padding: px2rpx(10px) px2rpx(20px);
  }

  @include m(fringe) {
    @include text--middle(px2rpx(42px));

    text-align: center;
    width: px2rpx(160px);
    background: {
      image: image-url("components/tag/fringe.png");
      size: 100% 100%;
    }
  }

  @include m(new) {
    @include size(px2rpx(60px), px2rpx(28px));

    display: inline-block;
    line-height: px2rpx(31px);
    overflow: hidden;
    font-weight: bold;
    border: 1px solid map-get($colors, c9);
    text-align: center;
  }

  @include m(coupon) {
    @include size(px2rpx(141px), px2rpx(44px));

    display: inline-block;
    text-align: center;
    border-radius: px2rpx(22px);
    line-height: px2rpx(44px);
    border: 1px solid map-get($colors, c1);
  }

  @include m(arrow) {
    @include padding(px2rpx(8px), px2rpx(10px + 12px), px2rpx(8px));

    display: inline-block;
    background: {
      image: image-url("components/tag/arrow.png");
      size: px2rpx(12px) px2rpx(20px);
      repeat: no-repeat;
      position: right center;
    }
  }

  @include m(text) {
    @include text--middle(px2rpx(46px));

    display: inline-block;
    width: px2rpx(150px);
    border-radius: px2rpx(23px);
    background-color: map-get($colors, c6);
    text-align: center;
    color: map-get($colors, c3);

    @include m(active) {
      color: map-get($colors, c1);
    }
  }

  @include m(text-secondary) {
    @include text--middle(px2rpx(50px));
    @include padding(null, px2rpx(25px), null, px2rpx(25px));

    border: 1px solid map-get($colors, c4);
    border-radius: px2rpx(25px);
    display: inline-block;
  }

  @include m(text-third) {
    @include text--middle(px2rpx(40px));
    @include padding(null, px2rpx(15px), null, px2rpx(15px));

    text-align: center;
    display: inline-block;
    border-radius: px2rpx(20px);
    background-color: white;
    color: map-get($colors, c4);
    border: 1px solid map-get($colors, c4);

    @include m(active) {
      background-color: map-get($colors, c1);
      color: white;
      border: 1px solid map-get($colors, c1);
    }
  }
}
