@import "../utils/index";
@import "../bem/index";

page {
  font-family: $font-family-mobile;
  font-size: $font-size;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  overflow: hidden;
}

@each $key, $value in $font-sizes {
  .#{$key} {
    font-size: $value;
  }
}

@each $key, $value in $colors {
  .#{$key} {
    color: $value;
  }

  .bg-#{$key} {
    background-color: $value;
  }

  .bd-#{$key} {
    border: 1px solid $value;
  }
}

.u-margin-bottom-20 {
  margin-bottom: px2rpx(20px);
}

.fwb {
  font-weight: bold;
}

.tac {
  text-align: center;
}

.vam {
  vertical-align: middle;
}

.tdu {
  text-decoration: underline;
}

.tdl {
  text-decoration: line-through;
}

.toe {
  @include text--overflow;
}

.toe-2 {
  @include text--overflow(2);
}
