@import "../../../styles/utils/index";
@import "../../../styles/components/main";

@include p(orders-result) {
  @include n(wrap) {
    background-color: white;
    padding-bottom: px2rpx(100px);
  }

  @include n(bg) {
    @include text--middle(px2rpx(200px));

    width: 100%;
    background: {
      image: image-url("pages/orders/result/bg.png");
      size: 100% 100%;
    }
    text-align: center;
  }

  @include n(success, fail) {
    @include size(px2rpx(84px), px2rpx(84px));

    background: {
      size: 100% 100%;
    }
    display: inline-block;
    vertical-align: middle;
    margin-right: px2rpx(20px);
  }

  @include n(success) {
    background: {
      image: image-url("pages/orders/result/success.png");
    }
  }

  @include n(fail) {
    background: {
      image: image-url("pages/orders/result/fail.png");
    }
  }

  @include n(result) {
    display: inline-block;
    vertical-align: middle;
    text-align: left;

    view {
      line-height: 100%;
    }
  }

  @include n(tip) {
    @include padding(px2rpx(100px), px2rpx(100px), px2rpx(130px), px2rpx(100px));

    line-height: px2rpx(32px);
  }

  @include c(button) {
    @include block--center;
  }
}
