@import "../../styles/utils/index";

// c-tool-bar
@include b(c-tool-bar) {
  @include position--absolute(null, 0, 0, 0);

  height: px2rpx(146px);
  background-color: white;
  border-top: 1px solid #f2f2f2;

  @include e(shop, c-operations) {
    @include position--absolute(50%);

    transform: translateY(-50%);
  }

  @include e(shop) {
    @include padding(px2rpx(10px + 38px + 14px), null, px2rpx(10px));

    width: px2rpx(38px + 10px * 2);
    left: px2rpx(30px - 10px);
    text-align: center;
    background: {
      image: image-url("components/tool-bar/shop.png");
      position: center px2rpx(10px);
      repeat: no-repeat;
      size: px2rpx(38px) px2rpx(38px);
    }
  }

  @include e(c-operations) {
    right: px2rpx(30px);
  }

  @include e(off-button) {
    @include text--middle(px2rpx(88px));
    @include position--absolute(50%, px2rpx(30px));

    transform: translateY(-50%);
    border-radius: px2rpx(44px);
    width: px2rpx(420px);
    background-color: #bbbbbb;
    text-align: center;
  }
}

// c-operations
@include b(c-operations) {
  @include size(px2rpx(450px), px2rpx(88px));

  display: flex;

  @include e(add-to-cart, buy) {
    @include text--middle(px2rpx(88px));

    text-align: center;
  }

  @include e(add-to-cart, buy) {
    height: px2rpx(88px);
  }

  @include e(add-to-cart) {
    width: px2rpx(227px);
    background-color: #faab00;
    border-top-left-radius: px2rpx(44px);
    border-bottom-left-radius: px2rpx(44px);
  }

  @include e(buy) {
    width: px2rpx(450px - 227px);
    background-color: #ff8519;
    border-top-right-radius: px2rpx(44px);
    border-bottom-right-radius: px2rpx(44px);
  }
}
