@import "../../styles/utils/index";
@import "../../styles/components/main";
@import "../../styles/components/panel";
@import "../../styles/layouts/list";
@import "../../styles/components/media";
@import "../../styles/components/tag";

@include b(recommended-shops-child-categories) {
  margin-bottom: px2rpx(20px);

  .l-list__item {
    position: relative;

    image {
      @include size(px2rpx(142px), px2rpx(136px));
    }

    .c-tag--address {
      @include position--absolute(null, px2rpx(10px), px2rpx(10px));
    }

    .c-tag--fringe {
      @include position--absolute(0, px2rpx(30px));
    }
  }

  .c-media__body-title {
    max-width: px2rpx(350px);
  }

  @include e(enter-shop) {
    @include size(px2rpx(75px), px2rpx(36px));

    line-height: px2rpx(38px);
    text-align: center;
    border-radius: px2rpx(36px);
    display: inline-block;
    border: 1px solid map-get($colors, c1);
    color: map-get($colors, c1);
    margin-left: px2rpx(15px);
    font-size: map-get($font-sizes, s5);
  }
}
