@import "../../styles/utils/index";

@include b(c-modal-ad) {
  @include position--absolute(50%, null, null, 50%);

  width: px2rpx(554px);
  transform: translateY(-50%);
  margin-left: px2rpx(-554px / 2);

  image {
    width: 100%;
  }

  .c-icon--close {
    @include position--absolute(px2rpx(-146px), 0);
  }
}
