@import "../../styles/utils/index";

@include b(c-rate) {
  line-height: 100%;

  image {
    @include size(px2rpx(14px), px2rpx(14px));
    @include margin(null, px2rpx(5px), null, px2rpx(5px));

    display: inline-block;
  }

  @include m(secondary) {
    @include padding(px2rpx(30px), px2rpx(3px), px2rpx(30px));

    view {
      display: inline-block;
    }

    image {
      @include size(px2rpx(24px), px2rpx(24px));

      margin-right: px2rpx(17px);
    }
  }
}
