@import "../../styles/utils/index";

@include c(select) {
  display: inline-block;
  background: {
    repeat: no-repeat;
  }

  &.t-1 {
    @include text--middle(px2rpx(50px));
    @include padding(null, px2rpx(10px + 20px), null, px2rpx(10px));

    border-right: px2rpx(10px) solid #F5F5F5;

    background-color: #f5f5f5;
    color: map-get($colors, c3);
    font-size: map-get($font-sizes, s3);
    background: {
      image: image-url("components/select/drop-1.png");
      size: px2rpx(20px) px2rpx(10px);
      position: right center;
    }
  }

  &.t-2 {
    @include text--middle(px2rpx(76px));

    box-sizing: border-box;
    padding-left: px2rpx(20px);
    border: 1px solid #b7b7b7;
    border-radius: px2rpx(8px);
    color: map-get($colors, c4);
    font-size: map-get($font-sizes, s4);
    background: {
      image: image-url("components/select/drop-2.png");
      size: px2rpx(50px) px2rpx(50px);
      position: right px2rpx(10px) center;
    }

    &.is-active {
      color: map-get($colors, c2);
    }
  }
}
