@import "../../../styles/utils/index";
@import "../../../styles/components/main";
@import "../_commons/styles";

@include p(shops-home) {
  @include n(middle-ad) {
    @include size(100%, px2rpx(220px));
  }

  @include n(hot-sale) {
    padding: px2rpx(30px);

    image {
      display: block;
    }

    @include e(title) {
      @include text--overflow;
      line-height: 100%;
      padding-bottom: px2rpx(98px);
    }

    @include e(price) {
      line-height: 100%;
    }

    @include e(1) {
      @include size(px2rpx(270px), px2rpx(409px));

      position: relative;
      margin-right: px2rpx(14px);
      background-color: map-get($colors, c6);
      box-sizing: border-box;
      padding: px2rpx(20px);

      image {
        @include size(px2rpx(270px), px2rpx(198px + 14px));
        @include position--absolute(null, null, 0, 0);
      }

      @include c(icon) {
        @include position--absolute(0, 0);
      }
    }

    @include e(2) {
      @include size(px2rpx(406px), px2rpx(409px));

      image {
        @include size(px2rpx(148px), px2rpx(198px));

        display: block;
      }

      @include o(media) {
        @include e(body) {
          background-color: map-get($colors, c6);
          padding: px2rpx(20px);
          box-sizing: border-box;
          width: px2rpx(406px - 148px);
        }
      }
    }
  }

  @include c(hot-sale-no-data) {
    @include size(px2rpx(406px), px2rpx(198px));

    background-color: #f5f5f5;
    position: relative;
    text-align: center;

    @include e(image) {
      @include size(px2rpx(84px), px2rpx(78px));

      background: {
        image: image-url("pages/shops/home/hot-sale-no-data.png");
        size: 100% 100%;
      }
      display: inline-block;
      margin-right: px2rpx(14px);
    }
  }
}
