@import "../../utils/index";

@include c(button) {
  box-sizing: border-box;
  text-align: center;

  @include m(orange) {
    background-color: map-get($colors, c1);
  }

  @include m(gray) {
    background-color: map-get($colors, c3);
  }

  @include m(orange-ghost) {
    border: 1px solid map-get($colors, c1);
    background-color: map-get($colors, c7);
  }

  @include m(gray-ghost) {
    border: 1px solid map-get($colors, c3);
    background-color: map-get($colors, c7);
  }

  @include m(height-42) {
    @include text--middle(px2rpx(42px));

    border-radius: px2rpx(21px);
  }

  @include m(height-48) {
    @include text--middle(px2rpx(48px));

    border-radius: px2rpx(8px);
  }

  @include m(height-88) {
    @include text--middle(px2rpx(88px));

    border-radius: px2rpx(44px);
  }

  @include m(height-56) {
    @include text--middle(px2rpx(56px));

    border-radius: px2rpx(28px);
  }

  @include m(border-c8) {
    border: 1px solid map-get($colors, c8);
  }

  @include m(border-c1) {
    border: 1px solid map-get($colors, c1);
  }
}
