@import "../../utils/index";

@include b(c-coupon-bar) {
  @include size(100%, px2rpx(150px));

  background-color: white;
  position: relative;

  @include e(tag) {
    @include size(px2rpx(40px), px2rpx(90px));
    @include position--absolute(px2rpx(30px), null, null, px2rpx(30px));

    background: {
      image: image-url("components/coupon-bar/tag.png");
      size: 100% 100%;
    }
  }
}

@include b(c-coupons-wrap) {
  @include position--absolute(px2rpx(30px), 0, px2rpx(30px), px2rpx(30px + 40px));

  overflow-x: auto;
  overflow-y: hidden;
}

@include b(c-coupons) {
  @include e(item) {
    @include size(px2rpx(186px), px2rpx(90px));

    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    border-right: 1px dotted #b7b7b7;
    overflow: hidden;
  }

  @include e(money) {
    line-height: 100%;
    display: inline-block;
    position: relative;
  }

  @include e(money-unit) {
    @include position--absolute(px2rpx(5px), null, null, px2rpx(-10px));

    line-height: 100%;
  }

  @include e(get) {
    @include position--absolute(0, px2rpx(-10px - 28px));
    @include size(px2rpx(28px), px2rpx(26px));

    background: {
      image: image-url("components/coupon-bar/get.png");
      size: 100% 100%;
    }
  }

  @include e(condition) {
    line-height: 100%;
  }
}
