@import "../../utils/index";

@include c(overlay) {
  @include position--absolute(0, 0, 0, 0);

  background-color: black;
  z-index: 2;
  opacity: 0.5;

  @include m(unvisible) {
    opacity: 0;
  }
}
