@import "../../utils/index";

@include c(tabs) {
  display: flex;
  background-color: white;

  @include m(border-bottom-1) {
    border-bottom: 1px solid #f2f2f2;
  }

  @include e(item) {
    flex: 1;
    text-align: center;
  }

  @include e(item-wrap) {
    @include padding(px2rpx(30px), null, px2rpx(30px));

    box-sizing: border-box;
    display: inline-block;

    @include m(is-active) {
      color: map-get($colors, c1);
    }

    @include m(border-bottom-4) {
      border-bottom: px2rpx(4px) solid map-get($colors, c1);
    }
  }

  @include e(item-sort) {
    @include size(px2rpx(30px), px2rpx(30px));

    display: inline-block;
    margin-left: px2rpx(4px);
    background: {
      image: image-url("components/tabs/sort.png");
      size: 100% 100%;
    }
  }
}
