@import "../../styles/utils/index";

@include b(index) {
  @include e(bg) {
    @include size(px2rpx(750px), px2rpx(1870px));
    @include position--fixed(-100px, null, null, 0);

    opacity: 0.1;
  }

  @include e(flower, camera) {
    @include size(px2rpx(128px), px2rpx(128px));
    @include position--fixed(null, null, null, 50%);

    margin-left: px2rpx(-64px);
  }

  @include e(flower) {
    top: px2rpx(170px);
  }

  @include e(camera) {
    bottom: px2rpx(170px);
  }
}
