@import "../../styles/utils/index";
@import "../../styles/layouts/box";

@include b(c-address-search) {
  @include size(100%, px2rpx(106px));

  @include e(city, input) {
    float: left;
  }

  @include e(city) {
    @include text--middle(px2rpx(106px));

    width: px2rpx(122px);
    margin-left: px2rpx(30px);
    background: {
      image: image-url("components/address-search/arrow-down.png");
      size: px2rpx(20px) px2rpx(10px);
      position: center right;
      repeat: no-repeat;
    }

    view {
      @include text--overflow;

      width: px2rpx(120px);
    }
  }

  @include e(input) {
    @include size(px2rpx(540px), px2rpx(66px));
    @include padding(null, px2rpx(20px), null, px2rpx(20px));
    @include position--relative(50%);

    transform: translateY(-50%);
    margin-left: px2rpx(26px);
    box-sizing: border-box;
    border: 1px solid map-get($colors, c4);
    border-radius: px2rpx(32px);

    input {
      @include text--middle(px2rpx(50px));
      @include position--relative(50%);

      transform: translateY(-50%);
      display: block;
    }
  }

  @include m(secondary) {
    $height-secondary: 56px + 16px * 2;

    height: px2rpx($height-secondary);

    .c-address-search__city {
      @include text--middle(px2rpx($height-secondary));

      border-radius: px2rpx($height-secondary / 2);
    }
  }

  @include m(no-city) {
    .c-address-search__city {
      display: none;
    }

    .c-address-search__input {
      width: px2rpx(750px - 26px * 2) !important;
    }
  }
}
