@import "../../../styles/utils/index";
@import "../../../styles/components/main";
@import "../../../styles/components/cols";
@import "../../../styles/components/panel";
@import "../../../styles/layouts/list";
@import "../../../styles/layouts/cols";
@import "../../../styles/components/media";
@import "../../../styles/components/tag";
@import "../../../styles/components/categories";

@include b(home) {
  background-color: #f5f5f5;
}

.home-margin-top {
  margin-top: px2rpx(20px);
}

// home-top-ads
@include b(home-top-ads) {
  height: px2rpx(465px);
  position: relative;

  .c-icon--scan {
    @include position--absolute(px2rpx(20px), px2rpx(25px));
  }

  .c-address-picker {
    @include position--absolute(px2rpx(38px), null, null, px2rpx(25px));
  }
}

// home-categories
@include b(home-categories) {
  height: px2rpx(170px * 2);
}

// home-slogan
@include b(home-slogan) {
  @include padding(px2rpx(30px), null, px2rpx(30px));

  border-top: 1px solid #f8f8f8;
  text-align: center;
  background-color: white;

  image {
    @include size(px2rpx(18px), px2rpx(18px));
    @include margin(null, px2rpx(6px), null, px2rpx(6px));
  }
}

// home-shops
@include b(home-shops) {
  .l-list__item {
    position: relative;

    .c-tag {
      @include position--absolute(null, px2rpx(10px), px2rpx(10px));
    }
  }
}

// home-inserted-ads
@include b(home-inserted-ads) {
  @include size(100%, px2rpx(246px));

  display: block;
}

// home-hot
@include b(home-products) {
  @include e(image) {
    @include size(px2rpx(178px), px2rpx(252px));
    @include block--center;

    display: block;
  }

  @include e(title) {
    @include padding(px2rpx(18px), null, px2rpx(16px));
    @include block--center;
    @include text--overflow;

    width: 80%;
    line-height: 100%;
  }
}
