@import "../../../styles/utils/index";
@import "../../../styles/components/main";

@include p(orders-confirm) {
  @include n(no-address) {
    @include size(100%, px2rpx(180px));

    position: relative;

    background: {
      image: image-url("pages/orders/confirm/no-address.png");
      size: 100% 100%;
    }

    @include c(button) {
      @include position--absolute(50%, null, null, 50%);

      transform: translate(-50%, -50%);
    }
  }

  @include n(line) {
    @include size(px2rpx(750px / 2), px2rpx(4px));

    background-color: #aad7f6;
    border-right: px2rpx(750px / 2) solid #f6deaa;
  }
}
