@import "../../styles/utils/index";

@include c(settlement-bar) {
  @include position--absolute(null, null, 0, 0);
  @include text--middle(px2rpx(150px));

  padding-left: px2rpx(30px);
  z-index: 1;
  border-top: 1px solid #F8F8F8;
  box-sizing: border-box;
  width: 100%;
  background-color: white;

  @include c(button) {
    @include position--absolute(50%, px2rpx(30px));

    transform: translateY(-50%);
  }
}
