@import "../../styles/utils/functions";
@import "../../styles/utils/mixins";

@include b(search-bar) {
  @include e(picker) {
    width: 80px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
  }

  // reset
  .weui-search-bar__box {
    padding-left: 120px;
  }

  .weui-icon-search_in-box {
    left: 90px;
  }

  .weui-select {
    padding-right: 0;
  }
}

@include b(search-result) {
  position: absolute;
  top: 58px;
  left: 0;
  right: 0;
  z-index: 1000;
}

@include b(search-history) {
  button {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;

    &::after {
      border: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}
