@import "../../styles/utils/index";

@include b(c-popup-coupon) {
  @include size(100%, px2rpx(950px - 82px + 3px));
  @include position--absolute(null, 0, 0, 0);

  background-color: white;

  .c-icon--close-third {
    @include position--absolute(px2rpx(-127px), null, null, 50%);

    transform: translateX(-50%);
  }

  @include e(title) {
    @include position--absolute(px2rpx(-82px + 3px));
    @include size(100%, px2rpx(110px));

    box-sizing: border-box;
    padding-top: px2rpx(52px);
    line-height: 100%;
    text-align: center;
    background: {
      image: image-url("components/popup-coupon/title.png");
      size: 100% px2rpx(82px);
      repeat: no-repeat;
    }
  }

  @include e(wrap) {
    @include position--absolute(px2rpx(30px), 0, 0, 0);

    overflow-x: hidden;
    overflow-y: auto;
  }

  @include e(item) {
    @include size(px2rpx(650px), px2rpx(200px));
    @include block--center;

    margin-bottom: px2rpx(20px);
    display: flex;
    background: {
      image: image-url("components/popup-coupon/coupon.png");
      size: 100% 100%;
    }

    @include m(active) {
      background-image: image-url("components/popup-coupon/coupon-active.png");
    }
  }

  .c-coupon-info {
    width: px2rpx(472px);
  }
}

@include b(c-coupon-info) {
  @include padding(px2rpx(34px - 5px), null, null, px2rpx(34px));

  box-sizing: border-box;

  @include e(price) {
    padding-bottom: px2rpx(30px - 15px);
  }

  @include e(desc) {
    line-height: 120%;
  }
}

@include b(c-coupon-btn) {
  flex: 1;
  position: relative;

  text {
    @include position--absolute(50%);

    display: block;
    transform: translateY(-50%);
    text-align: center;
    line-height: 120%;
    width: 100%;
  }
}
