@import "../../styles/utils/index";

@include b(c-search) {
  position: relative;
  background: {
    size: px2rpx(24px) px2rpx(24px);
    repeat: no-repeat;
    position: px2rpx(15px) center;
  }

  &.t-1 {
    @include text--middle(px2rpx(60px));

    border-radius: px2rpx(30px);
    background-color: white;
    background-image: image-url("components/search/search-1.png");
    color: map-get($colors, c2);
  }

  &.t-2 {
    @include text--middle(px2rpx(56px));

    border-radius: px2rpx(28px);
    background-color: #ffb675;
    background-image: image-url("components/search/search-2.png");
    color: map-get($colors, c7);
  }

  input {
    @include text--middle(px2rpx(50px));
    @include position--absolute(50%, px2rpx(50px), null, px2rpx(50px));

    transform: translateY(-50%);
    font-size: map-get($font-sizes, s4);
  }
}
