@import "../../../styles/utils/index";
@import "../../../styles/bem/utils/index";
@import "../../../styles/components/main";
@import "../../../styles/components/block";
@import "../../../styles/components/cells";
@import "../../../styles/components/tag";
@import "../../../styles/components/button";

@include p(addresses-manage) {
  @include n(wrap) {
    @include position--absolute(px2rpx(70px), 0, 0, 0);

    overflow-x: hidden;
    overflow-y: auto;
  }

  .c-cells__item {
    @include padding(px2rpx(30px), px2rpx(20px), px2rpx(30px), px2rpx(20px));

    display: block;
  }

  .c-tag--text-third {
    @include position--absolute(50%, null, null, px2rpx(20px));

    transform: translateY(-50%);
  }

  .address-operations {
    text-align: right;
  }

  .address-name,
  .address-extra,
  .address-tel {
    line-height: 100%;
  }

  .address-name {
    padding-bottom: px2rpx(20px);
  }

  .address-tel {
    @include position--absolute(px2rpx(30px), px2rpx(20px));
  }

  .c-button {
    margin-left: px2rpx(30px);
  }

  @include n(no-data) {
    @include margin(px2rpx(188px), auto, null, auto);

    width: px2rpx(326px + 100px);
    text-align: center;
    padding-top: px2rpx(236px + 30px);
    line-height: 100%;
    background: {
      image: image-url("pages/manage-address/no-address.png");
      size: px2rpx(326px), px2rpx(236px);
      repeat: no-repeat;
      position: center 0;
    }

    .c-button--orange-md {
      @include margin(px2rpx(50px), auto, null, auto);
    }
  }
}
