@import "../../styles/utils/index";
@import "../../styles/components/block";
@import "../../styles/components/cols";
@import "../../styles/components/middle";
@import "../../styles/components/cells";
@import "../../styles/components/icon";

@include b(p-my) {
  @include b(info) {
    @include padding(px2rpx(162px), null, px2rpx(30px));

    position: relative;
    box-sizing: border-box;
    height: px2rpx(442px);
    background: {
      image: image-url("pages/my/info/bg.png");
      size: 100% px2rpx(442px);
    }

    .c-block {
      @include block--center;

      position: relative;
      height: px2rpx(250px);
    }

    .message,
    .setup {
      @include position--absolute(px2rpx(-(58px + 50px)));
    }

    .message {
      right: px2rpx(10px + 58px);
    }

    .setup {
      left: 0;
    }

    @include e(avatar) {
      @include position--absolute(px2rpx(-30px), null, null, px2rpx(44px));
      @include circle(px2rpx(142px));

      border: 2px solid white;
    }

    @include e(name) {
      @include position--absolute(px2rpx(30px), null, null, px2rpx(44px + 142px + 28px));

      color: map-get($colors, c1);
      font-size: map-get($font-sizes, s0);
    }

    .c-cols {
      @include position--relative(px2rpx(150px));

      @include e(item) {
        text-align: center;
        position: relative;
        border-right: 1px solid #f6f6f6;

        .is-first {
          padding-bottom: px2rpx(13px);
        }
      }

      .is-last {
        border-right: 0;
      }
    }
  }

  @include b(order, others) {
    @include margin(px2rpx(20px), auto, null, auto);
  }

  // 我的订单
  @include b(order) {
    @include b(c-cells) {
      @include e(item-body, item-foot) {
        height: px2rpx(96px - 6px * 2);
        line-height: px2rpx(99px - 6px * 2);
      }
    }

    @include b(c-cols) {
      @include e(item) {
        @include padding(px2rpx(90px), null, px2rpx(30px));

        position: relative;
        text-align: center;
        background: {
          size: px2rpx(62px) px2rpx(62px);
          position: center px2rpx(-12px + 26px);
          repeat: no-repeat;
        }
      }
    }

    @include e(item) {
      @each $icon in refund, to-comment, to-pay, to-receive, to-send {
        @include m(#{$icon}) {
          background-image: image-url("pages/my/order/#{$icon}.png");
        }
      }
    }

    @include e(item-tip) {
      @include position--absolute(px2rpx(18px), px2rpx(20px));
      @include padding(null, px2rpx(10px), null, px2rpx(10px));

      color: white;
      display: inline-block;
      background-color: #ff0000;
      height: px2rpx(30px);
      line-height: px2rpx(33px);
      overflow: hidden;
      font-size: map-get($font-sizes, s6);
      border-radius: px2rpx(20px);
    }
  }
}
