@import "../../styles/utils/index";

@include c(operation) {
  text-align: right;

  @include e(btn) {
    @include text--middle(px2rpx(28px + 20px * 2));

    min-width: 10px;
    display: inline-block;
    padding: 0 px2rpx(30px);
    overflow: hidden;
  }
}
