@import "../../styles/utils/index";

@include c(modal-download) {
  @include size(px2rpx(540px), px2rpx(280px));

  background: {
    image: image-url("components/modal-download/bg.png");
    size: 100% 100%;
  }
  border-radius: px2rpx(20px);
  overflow: hidden;

  @include e(body) {
    @include padding(px2rpx(72px), px2rpx(90px), null, px2rpx(90px));

    line-height: px2rpx(36px);
  }

  @include e(footer) {
    @include position--absolute(null, null, 0, 0);
    @include size(100%, px2rpx(74px));

    align-items: center;

    @include o(grid) {
      @include e(cell) {
        @include text--middle(px2rpx(74px));

        text-align: center;
        border-top: 1px solid map-get($colors, c1);
      }
    }

    .is-first {
      border-bottom-left-radius: px2rpx(20px);
    }
  }
}
